.active-nav-item {
    position: relative;
  }
  
  .active-nav-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: 100%;
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #3b82f6; /* Tailwind blue-500 */
    border-radius: 4px;
    filter: blur(5px);
    z-index: 0;
  }

