.image-divider {
    width: 100%;
    text-align: center;
    margin: 40px 0; /* Adjust margin as needed */
  }
  
  .image-divider img {
    max-width: 100%;
    height: auto;
    z-index: 10;
  }
  